@model DuruOnlineStore.Data.Entities.Category

@{
    ViewData["Title"] = "Kategori Sil";
}

<div class="container mt-5">
    <h2>Kategori Silme</h2>

    <div class="alert alert-warning" role="alert">
        <h5>Aşağıda listelenen kategori kaldırılacak.</h5>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategori</h4>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                </div>
            </div>
            <form id="deleteForm" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="button" class="col-3 btn btn-danger" onclick="confirmDelete()">Kategori Sil</button>
                <a asp-action="Index" class="col-3 btn btn-secondary">Geri Dön</a>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/category.js"></script>
}



