@{
    ViewData["Title"] = "Gizlilik Politikamız";
}
<h1 class="mt-4">@ViewData["Title"]</h1>

<p class="font-size-sm mt-3">
    <span style="font-weight: bold;"><a>Gizlilik Politikası</a></span> <br />

    <a>Son Güncelleme: [12.11.2023]</a> <br />
    <a>Bu gizlilik politikası, [DuruStore Kozmetik A.Ş.] tarafından işletilen [duruonlinestore.com] 
       web sitesinin kullanımıyla ilgili olarak topladığımız, </a> <br/>
    <a>kullanıcılarımızdan aldığımız ve kullanıcılara nasıl hizmet ettiğimizle ilgili bilgileri açıklar.</a> <br />
    <a> Web sitemizi ziyaret ederek, bu gizlilik politikasını kabul etmiş olursunuz.</a> <br /><br />

    <span style="font-weight: bold;">Hangi Tür Bilgileri Topluyoruz?</span> <br />

    <a> Web sitemizi ziyaret ettiğinizde, bazı bilgiler otomatik olarak toplanabilir. Bu bilgiler, tarayıcı türü, işletim sistemi, IP adresi, ziyaret ettiğiniz sayfalar,</a> <br />
    <a>gezinme örüntüleri ve zaman damgalarını içerebilir.</a> <br />
    <a>Ayrıca, web sitemiz üzerinden belirli hizmetleri kullanırken kişisel bilgileri de toplayabiliriz.</a> <br />
    <a>Bu bilgiler adınız, e-posta adresiniz, telefon numaranız gibi kimlik bilgilerinizi içerebilir.</a> <br /><br />

    <span style="font-weight: bold;">Topladığımız Bilgileri Nasıl Kullanıyoruz?</span> <br />

    <a>Topladığımız bilgileri aşağıdaki amaçlarla kullanabiliriz:</a> <br />
    <a>- Size sağladığımız hizmetleri sunmak ve yönetmek.</a> <br />
    <a>- Web sitemizi geliştirmek ve iyileştirmek.</a> <br />
    <a>- Taleplerinize cevap vermek ve sorularınızı yanıtlamak.</a> <br />
    <a>- Kampanyalar, anketler ve diğer etkinliklerle ilgili bilgileri iletmek.</a> <br /><br />

    <span style="font-weight: bold;">Bilgilerin Paylaşımı ve Saklanması</span> <br />
   
    <a>Topladığımız bilgileri üçüncü taraflarla paylaşmamız durumunda, bu paylaşımın amacını ve kapsamını size açıklayacağız.</a> <br />
    <a>Ayrıca, bilgilerinizi güvenli bir şekilde saklarız ve yetkisiz erişimi önlemek için gerekli önlemleri alırız.</a> <br /><br />

    <span style="font-weight: bold;">Çerezler</span> <br />

    <a>Web sitemiz çerezleri kullanabilir. Çerezler, tarayıcınıza depolanan küçük metin dosyalarıdır.</a> <br />
    <a>Çerezler, web sitemizi kullanımınızı analiz etmek, tercihlerinizi hatırlamak ve kullanıcı deneyiminizi geliştirmek için kullanılır.</a> <br /><br />

    <span style="font-weight: bold;">Değişiklikler</span> <br />

    <a>Bu gizlilik politikasını zaman zaman güncelleyebiliriz.</a> <br />
    <a>Güncellenmiş bir sürümü yayımladığımızda, değişiklikleri görmek için bu sayfayı düzenli olarak kontrol etmenizi öneririz.</a> <br /><br />

    <span style="font-weight: bold;">İletişim</span> <br />

    <a>Gizlilik politikamızla ilgili herhangi bir sorunuz varsa, lütfen bizimle iletişime geçmekten çekinmeyin:</a> <br />
    <a>[İletişim Bilgileri]</a> <br />
    <a>Bu gizlilik politikası, bu web sitesini kullanarak tarafımızdan toplanan bilgilerle ilgili genel bilgileri içermektedir. Web sitemizi kullanarak, bu politikayı kabul etmiş sayılırsınız.</a> <br />
</p>
