@using DuruOnlineStore.Data.Entities.Identities;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
&nbsp;

<ul class="navbar-nav font-weight-bold">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link"><i class="fa fa-user"></i> @UserManager.GetUserName(User) </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-controller="account" asp-action="logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-controller="account" asp-action="register">Üye Ol</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-controller="account" asp-action="login">Giriş Yap</a>
        </li>
    }
</ul>
