@model ProductItemViewModel


<div class="col-lg-4 mb-4 text-center">
    <div class="product-entry border">
        <a href="#" class="prod-img">
            <img src="@Model.ImageUrl" class="img-fluid" alt="Product Images">
        </a>
        <div class="desc">
            <h2><a href="#">@Model.Name</a></h2>
            <span class="price">₺@Model.Price</span>
        </div>
    </div>
</div>
