@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Şifre Sıfırlama";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Şifre Sıfırlama | DuruStore</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="~/css/login.css" rel="stylesheet" />

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>

<body class="">
	<main class="main">
		<div class="content">
			<div class="container-fluid pb-5">
				<div class="row justify-content-md-center">
					<div class="card-wrapper col-12 col-md-4 mt-5">
						<div class="brand text-center mb-3">
							<a href="/"><img src="~/images/logo.png" style="max-width: 280px;" /></a>
						</div>
						<div class="card">
							<div class="card-body">
								<h4 class ="card-title">@ViewData["Title"]</h4>
								<h5 class=" card-title text-black-50">Şifrenizi sıfırlamak için lütfen e-posta adresinizi girin.</h5>
								<form asp-action="ForgotPassword" method="post">
									@if (ViewBag.Message != null)
									{
										<div class="alert alert-success" role="alert">
											@ViewBag.Message
										</div>

										<script>
											setTimeout(function () {
												window.location.href = 'login';
											}, 2000);
										</script>
									}
									
									<div class="form-group">
										<label asp-for="Email">E-posta Adresi</label>
										<input asp-for="Email" class="form-control" />
										<span asp-validation-for="Email" class="text-danger"></span>
									</div>

									<div class="form-group no-margin">
										<button type="submit" href="/" class="btn btn-primary btn-block">
											Şifre Sıfırlama Bağlantısını Gönder
										</button>
									</div>
									<div class="text-center mt-3 small">
										Hesabınız yok mu? <a href="register">Üye Ol</a>
									</div>
								</form>
							</div>
						</div>
						<footer class="footer mt-3">
							<div class="container-fluid">
								<div class="footer-content text-center small">
									<span class="text-muted">Copyright ©2023 Duru Store | Tüm hakları saklıdır.</span>
								</div>
							</div>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>