@using DuruOnlineStore.WebUI.Services
@inject IListService listService

<link href="css\search.css" rel="stylesheet" />
<!-- SEARCH BAR -->
<div class="col-md-6">
    <div class="header-search">
        <form asp-controller="Products" asp-action="Index" method="get">
            <select name="CategoryId" class="input-select" asp-items="listService.GetCategoryList()">
                <option>Tüm Kategoriler</option>
            </select>
            <input name="Name" class="input" placeholder="Ürün ara">
            <button type="submit" class="search-btn">Ara</button>
        </form>
    </div>
</div>
<!-- /SEARCH BAR -->
